.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.field {
  width: 100%;
}
.contact-form{
    padding-top: 50px;
    padding-bottom: 300px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
button {
  padding: 8px 18px;
  margin: 10px;
  border-radius: 15px;
}
