<div class="content" *ngIf="productInfo">
  <title>{{productInfo.productName}}</title>
  <div class="gallery">
    <img [src]="productInfo.productImage0" [alt]="productInfo.productName + 1" />
    <img [src]="productInfo.productImage1" [alt]="productInfo.productName + 2" />
    <img [src]="productInfo.productImage2" [alt]="productInfo.productName + 3" />
  </div>
  <div class="product-information">
    <h1>{{productInfo.productName}}</h1>
    <p>{{productInfo.productDescription}}</p> <!--TODO-->
  </div>
</div>
