.container {
  margin: 0;
  padding: 0;
  width: 100%;
  top: 0;
  left: 0;
}
.ending {
  background-color: #262626;
  height: auto;
  width: 100vw;
}
.terms {
  display: flex;
  justify-content: center; 
  margin-top: 20px;
}
.terms > div {
  flex: 1;
  margin: 0 10px;
  text-align: center; 
}
h2 {
  color: red;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.ending a {
  color: white;
  font-size: 1.2rem;
  display: block;
  margin-bottom: 5px;
  width: auto;
}
 .ending a:hover {
    text-decoration: underline;
    color: white;
    cursor: pointer;
 }
.shop, .brands, .get_help, .contact {
  border-right: 1px solid #ccc;
  padding-right: 20px;
}
.contact {
  border-right: none;
}
.payments_end {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 20px 0;
}
.first,
.second, .third {
  flex: 1;
  text-align: center; 
}
.first p {
  margin: 5px 0;
  color: white;
}
.second, .third img {
  max-width: 100%; 
  height: auto;
}
