<body>
  <app-nav-menu></app-nav-menu>
  <main class="container">
    <router-outlet></router-outlet>
  </main>
  <div class="ending" style="color: white;"><br />
    <div class="terms">
      <div class="shop">
        <h2><b>Shop</b></h2>
        <a>Telescopes</a>
        <a>Mounts</a>
        <a>Others</a>
      </div>
      <div class="brands">
        <h2><b>Brands</b></h2>
        <a>Celestron</a>
        <a>SkyWatcher</a>
        <a>Others</a>
      </div>
      <div class="get_help">
        <h2><b>Help</b></h2>
        <a>FAQs</a>
        <a>Refund Policy</a>
        <a>Shipping Policy</a>
      </div>
      <div class="contact">
        <h2><b>Contact</b></h2>
        <a>Contact Form</a>
        <a>+312498057</a>
        <a>+321487581</a>
      </div>
    </div><br /><br />          
          <div class="payments_end">
            <div class="first">
              <p><b>Astroshop® 2024</b></p>
              <p>Privacy</p>
              <p>Terms & Conditions</p>
              <p>Trademarks & Copyright</p>
            </div>
            <div class="second">
              <h5>Accepted Payment Methods</h5>
              <img src="https://s3-alpha.figma.com/hub/file/1659619545/e1f08393-359b-440d-8eba-75ac5c83168b-cover.png" alt="Payments" height="100" width="300" />
            </div>
          </div><br />
    </div>
</body>
