<div class="page">
  <div class="content">
    <div class="title">
      <div>
        <h1 style="font-size: 60px;"><b>Astroshop</b></h1> <br />
        <h3>The best seller of telescopes</h3> <br />
        <button (click)="shopNow()">Shop now</button>
      </div>
    </div>
    <div class="our_products">
      <h1 style="margin: 20px;"><b>Our Products</b></h1>
      <div class="our_products_content">
        <h3>Telescopes</h3><br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><br />
        <div class="gallery">
          <ng-container *ngFor="let product of productData">
            <div *ngIf="product.productCategory === 'TELE'" class="telescope_1">
              <img [src]="product.productImage0" alt="Telescope  + product.productId">
              <p>{{product.productName }}</p>
              <p>{{product.price}}€</p>
            </div>
          </ng-container>
        </div>
        <br /><br /><br /><br /><br /><br />
        <h3>Tracking mounts</h3><br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><br />
        <div class="gallery">
          <ng-container *ngFor="let product of productData">
            <div *ngIf="product.productCategory === 'MONT'" class="telescope_1">
              <img [src]="product.productImage0" alt="Telescope + product.productId">
              <p>{{ product.productName }}</p>
              <p>{{ product.price }}€</p>
            </div>
          </ng-container>
        </div>
        <br /><br /><br /><br /><br /><br />
        <h3>Other equimpment</h3><br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><br />
        <div class="gallery">
          <ng-container *ngFor="let product of productData">
            <div *ngIf="product.productCategory === 'OTHR'" class="telescope_1">
              <img [src]="product.productImage0" alt="Telescope  + product.productId">
              <p>{{product.productName }}</p>
              <p>{{product.price}}€</p>
            </div>
          </ng-container>
        </div>
        <br /><br /><br /><br /><br /><br />
      </div>
      </div>
  </div>
