<div class="page">
  <div class="content">
    <div class="title">
      <div>
        <h1 style="font-size: 60px;"><b>Astroshop</b></h1> <br />
        <h3>The best seller of telescopes</h3> <br />
        <button>Shop now</button>
      </div>
    </div>
    <div class="our_products">
      <h1 style="margin: 20px;">Our Products</h1>
      <div class="our_products_content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="gallery">
          <img src="https://m.media-amazon.com/images/I/61Squ7U2zRL._AC_UF894,1000_QL80_.jpg" alt="Telescope 1">
          <img src="https://www.astroshop.eu/Produktbilder/normal/15330_0/Skywatcher-Telescope-N-150-750-Explorer-150P-EQ3-2.jpg" alt="Telescope 2">
          <img src="https://assets.mhzoutdoor.com/media/catalog/product/cache/114/image/1800x/040ec09b1e35df139433887a97daa66f/s/k/sky_watcher_804_az3_refraktor_80_400.jpg" alt="Telescope 3">
          <img src="https://telescopes.net/media/catalog/product/cache/ea5967ba851b98c340eb1e6e4b82461d/s/1/s11610-1_2.jpg" alt="Telescope 4">
        </div>
      </div>
    </div>
  </div>
</div>
