<title>Products</title>
<div class="content">
  <div class="products">
    <div class="product-side">
      <br /><br /><br /><br /><br />
      <h1 style="text-align: center;"><b>Products</b></h1><br />
      <div class="search-triedicka">
        <div class="search">
          <input class="search-bar" [(ngModel)]="searchText" type="search" placeholder="Search product">
          <button class="primary" type="button"><p style="margin: 0; padding: 0;"><img src="https://cdn3.iconfinder.com/data/icons/feather-5/24/search-512.png" height="21" width="21" style="margin-bottom: 2px;"/></p></button>
        </div>
        <div class="select">
          <select class="sort" (change)="onSortChange($event)">
            <option value="isAvailable">Are available</option> <!--Zatial takto , keby tak tak to zmenit na best seller alebo best seller pridat dotatocne-->
            <option value="mostExpensive">From the most expensive</option>
            <option value="leastExpensive">From the least expensive</option>
          </select>
        </div>
      </div><br />
      <div class="gallery">
        <ng-container *ngFor="let product of productData | search: searchText">
          <div class="telescope_1">
            <div class="names">
              <img [src]="product.productImage0" alt="Telescope + product.productId">
              <p>{{ product.productName }}</p>
            </div>
            <div [ngClass]="{'available': product.quantity > 0, 'unavailable': product.quantity <= 0}" class="check">
              <p>{{ product.price }}€</p>
              <p>{{ product.quantity > 0 ? 'Na sklade' : 'Nie je na sklade' }}</p>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="end">
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      </div>
     </div>
  </div>
</div>
