<div class="page">
  <div class="content">
    <div class="products"><br /><br /><br />
      <h1 style="text-align: center;"><b>Products</b></h1><br />
      <div class="gallery">
        <ng-container *ngFor="let product of productData">
          <div class="telescope_1">
            <img [src]="product.productImage0" alt="Telescope + product.productId">
            <p>{{ product.productName }}</p>
            <p>{{ product.price }}€</p>
          </div>
        </ng-container>
      </div><br /><br /><br /><br />
    </div>
  </div>
</div>
