<title>Products</title>
<div class="content">
    <div class="left-panel">
      <div class="panel-heading">
        <!--<button class="menu-icon"><img src="https://assets.stickpng.com/thumbs/6002fc1f51c2ec00048c6c7c.png" height="30" width="30" alt="menu-icon" /></button> TOTO BUDE BUTTON NA ZOBRAZENIE-->
        <h1 style="margin: 10px; font-weight: bold;">Categories</h1><br />
      </div>
        <ul class="category-list">
            <li (click)="showAllProducts()" style="font-size: 20px; font-weight: bold;"> All products</li>
            <li (click)="filterProducts('TELE')"><img src="https://cdn-icons-png.flaticon.com/512/2991/2991566.png" height="30" width="30" alt="telescope" /> Telescopes</li>
            <li (click)="filterProducts('MONT')"><img src="https://cdn-icons-png.flaticon.com/512/3814/3814739.png" height="30" width="30" alt="mount" /> Mounts</li> <!--Ked tak pridat sem iny obrazok-->
            <li><img src="https://www.freeiconspng.com/thumbs/filter-icon/filter-icon-30.png" height="30" width="30" alt="filter"/> Filters</li>
            <li><img src="https://cdn-icons-png.flaticon.com/512/2972/2972087.png" height="30" width="30" alt="refractor" /> Refractors</li>
            <li><img src="https://cdn1.iconfinder.com/data/icons/100-pirate-set/40/64-512.png" height="30" width="30" alt="eyepiece" /> Eyepieces</li>
            <li><img src="https://cdn-icons-png.flaticon.com/512/32/32339.png" height="30" width="30" alt="morestuff" /> Telescope accessories</li>
            <li><img src="https://cdn-icons-png.freepik.com/512/69/69125.png" height="30" width="30" alt="binocular" /> Binoculars</li>
        </ul>
    </div>
    <div class="products">
        <div class="product-side"><br />
            <h1 style="text-align: center;"><b>Products</b></h1><br />
            <div class="search-triedicka">
              <div class="search">
                <input class="search-bar" [(ngModel)]="searchText" type="search" placeholder="Search product">
              </div>
                <div class="select">
                  <select class="sort" (change)="onSortChange($event)">
                    <!--<option value="all">All products</option> Tu ked tak mozeme nechat alebo dat prec zalezi na nas-->
                    <option value="isAvailable">Are available</option>
                    <option value="mostExpensive">From the most expensive</option>
                    <option value="leastExpensive">From the least expensive</option>
                  </select>
                </div>
            </div><br />
            <div class="gallery">
                <ng-container *ngFor="let product of ourFilteredProducts | search: searchText">
                  <a [routerLink]="['/products', product.productName]" style="color: black; text-decoration:none;">
                    <div class="telescope_1">
                      <div class="names">
                        <img [src]="product.productImage0" alt="Telescope + {{product.productId}}">
                        <p>{{ product.productName }}</p>
                      </div>
                      <div [ngClass]="{'available': product.quantity > 0, 'unavailable': product.quantity <= 0}" class="check">
                        <p>{{ product.price }}€</p>
                        <p>{{ product.quantity > 0 ? 'Na sklade' : 'Nie je na sklade' }}</p>
                      </div>
                    </div>
                  </a>
                </ng-container>
            </div>
        </div>
    </div>
</div>
